h1 {
  font-size: 100px;
  font-family: Helvetica;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*1nqk327*_ga*MjExMjk2MzEyMS4xNjU0NjMwODE4*_ga_3LRZM6TM9L*MTY2MzI0MjIyOS4yNi4xLjE2NjMyNDYzNzEuMzcuMC4w");
}

div {
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}

strong {
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
}

img {
  padding: 20px 0;
}